<ion-view>
  <ion-content>
		<!-- <h1>homes</h1> -->
		<div id="tour" class="container">
		  <!-- <a href="/options.html"><i class="fa fa-bars"></i></a> -->
		  <div class="col-xs-12 text-center foodle">
        <h1 class="see-food">foodle.
          <!-- <i class="fa fa-cutlery" aria-hidden="true"></i> -->
        </h1>
		  </div>

      <div class="slider">
        <ul class="slides">
          <li>
            <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>


















      <br>
      <br>
      <div class="col-xs-12 text-center">
        <a ng-click="login('facebook')" class="btn btn-primary fb-login"><i class="fa fa-facebook"></i>&#xA0;&#xA0;Log In with Facebook</a>
        <!-- <p class="small">or</p> -->
        <!-- <a ui-sref='email'>Or sign in with email</a> -->
      </div>
      <!-- <div ng-if="authData.facebook" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.facebook.cachedUserProfile.avatar_url}}" alt="">
          <h2>{{authData.facebook.displayName}}</h2>
          <p>{{authData.facebook.username}}</p>
          <div ng-messages="myForm.myField.$error" role="alert">
          <div ng-message="required">Please sign in with a valid Facebook account</div>
        </div>
          <p>Facebook</p>
        </div>
      </div> -->

		</div>
  </ion-content>
</ion-view>
