<ion-view>
  <ion-content>
		<!-- <h1>homes</h1> -->
		<div id="tour" class="container">
		  <!-- <a href="/options.html"><i class="fa fa-bars"></i></a> -->
		  <div class="col-xs-12 text-center foodle">
        <!-- <h1 class="see-food">foodle. -->
          <!-- <i class="fa fa-cutlery" aria-hidden="true"></i> -->
        <!-- </h1> -->
		  </div>
      <div class="container">

        <ion-slide-box>
          <ion-slide>
            <div ng-click="nextSlide()">
              <div class="box" ng-click="nextSlide()">
                <!-- <button ng-click="nextSlide()">Next slide!</button> -->
                <center><h3>Welcome to the app.</h3>
                  It's as easy as 1, 2, 3!
              </div>
                <!-- <i class="fa fa-cutlery" aria-hidden="true"></i> -->
              </h1>
              <center>
              <img id="pic" src="https://65.media.tumblr.com/2dc3216205a2ed4485e5edb9f420e2a9/tumblr_o6mgi6UTQt1qexhx7o1_1280.png" height="275">
              </center>
            </div>
            <span></span>
            <span></span>
            <span></span>
          </ion-slide>
          <ion-slide>
            <div class="box red" ng-click="nextSlide()">
              <!-- <button ng-click="nextSlide()">Next slide!</button> -->
              some instructions here.
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box red" ng-click="toBeginning()">
              <!-- <button ng-click="toBeginning()">Next slide!</button> -->
              an invitation to start.
            </div>
          </ion-slide>
        </ion-slide-box>

      <br>
      <br>
      <div class="col-xs-12 text-center">
        <a ng-click="login('facebook')" class="btn btn-primary fb-login"><i class="fa fa-facebook"></i>&#xA0;&#xA0;Log In with Facebook</a>
        <!-- <p class="small">or</p> -->
        <!-- <a ui-sref='email'>Or sign in with email</a> -->
      </div>
      <!-- <div ng-if="authData.facebook" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.facebook.cachedUserProfile.avatar_url}}" alt="">
          <h2>{{authData.facebook.displayName}}</h2>
          <p>{{authData.facebook.username}}</p>
          <div ng-messages="myForm.myField.$error" role="alert">
          <div ng-message="required">Please sign in with a valid Facebook account</div>
        </div>
          <p>Facebook</p>
        </div>
      </div> -->

		</div>
  </ion-content>
</ion-view>
