<ion-view view-title="Login">
  <ion-content>
    <!-- <div class="padding">
      <button class="button button-block button-assertive"
              ng-click="ctrl.loginWithGoogle()">
        Google
      </button>
    </div> -->

    <div class="col-xs-12 text-center">
      <a ng-click='fbLogin()' class="btn btn-primary"><i class="fa fa-facebook"></i>&#xA0;&#xA0;Log In with Facebook</a>
      <!-- <p class="small">or</p>
      <a ui-sref='email'>Or sign in with email</a> -->
    </div>
  </ion-content>
</ion-view>
