#see-food {
	font-family: 'Pacifico', cursive;
	color: #FF7043;
	font-size: 45px;
	margin-top: 15px;
}

.ion-gear-a {
	font-size: 180%;
}

#pic {
  max-height: 13em;
  max-width: 17em;
}

#listThumbnail {
	height: 50px;
	border-radius: 25%;
}

#listWell {
	width: 275px;
}

.angular-google-map-container {
	height: 300px;
}

#restaurant-address {
	font-style: bold;
}
