<ion-view>
  <ion-content>
    <a ng-click="openModal()"><i class="fa fa-cogs fa-2x"></i></a>
    <a ui-sref="list"><i class="fa fa-arrow-left fa-2x"></i></a>
    <div id="results" class="container">
      <div class="col-xs-12 text-center">
        <h1 class="see-food foodle">foodle.</h1>
      </div>
      <div class="col-xs-12 text-center">
      </div>
      <div class="col-xs-12 text-center">
        <h3 id="restaurant-name" class="detail-title">{{restaurant.name}} <small id='openStatus' ng-hide='restaurant.is_closed'>open</small><small id='closedStatus' ng-show='restaurant.is_closed'>closed</small></h3>
      </div>
      <div class="row">
        <div class="col-xs-6"><img id="restaurantthumbnail" ng-src="{{restaurant.image_url}}" alt="" class="restaurant-logo"></div>
        <div class="col s6 offset-s1" id="restaurantdetails">
          <div class="col-xs-6 small">
            <div id='detailCateg'>
              <p ng-repeat='category in restaurant.categories'>{{category[0]}}</p>
            </div>
            <img ng-src="{{restaurant.rating_img_url_small}}">
            <p>{{distanceInMiles(restaurant.distance)}} miles away</p>
            <a href="{{restaurant.url}}" target='_blank' id="website" class='btn'><img src='img/yelp-logo-small@2x.png'></a>
            <br>
          </div>
        </div>
      </div>
      <div id="restaurant-address"  class=text-center>
        <div>{{restaurant.display_phone}}</div>
        <div ng-repeat='address in restaurant.location.display_address' id='detailAddress'>
        {{address}}
        <br>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </ion-content>
</ion-view>