<ion-view>
  <ion-content>
    <div id="detail" class="container">
      <a href="/options.html"><i class="fa fa-bars"></i></a>
      <a ui-sref="list"><i class="fa fa-arrow-left"></i></a>

      <div class="col-xs-12 text-center">
        <h2 class="foodies-title">Foodies</h2>
      </div>

      <div class="col-xs-12 text-center">
        <h2 class="detail-title">{{restaurant.name}}</h2>
        <img ng-src="{{restaurant.rating_img_url_small}}">
        <br>
        <i class="fa fa-dollar"></i>&nbsp;
        <i class="fa fa-dollar"></i>&nbsp;
        <i class="fa fa-dollar"></i>
      </div>

      <div class="col-xs-12 blurb">
        <div class="col-xs-3"><img ng-src="{{restaurant.image_url}}" alt="" class="restaurant-logo"></div>
        <div class="col-xs-9 small"><span>{{restaurant.categories[0][0]}},  {{restaurant.categories[1][0]}}</span></div>
      </div>

      <center>
        <div>
        {{distanceInMiles(restaurant.distance)}} miles away
        </div>
      </center>

      <div class="col-xs-10 col-xs-offset-1 text-center">
        <img src="http://placehold.it/250x200" alt="" class="map">
      </div>

      <div class="col-xs-10 col-xs-offset-1 text-center ext-btns">
        <a href="{{restaurant.url}}" class="btn btn-sm btn-default">Restaurant Site</a>
        <a href="" class="btn btn-sm btn-default">Directions</a>
        <br>
        <a href="" class="button button-dark">Uber It</a>
      </div>

    </div>

  </ion-content>
</ion-view>
