<ion-view>
  <ion-content>
	<h1>listseseses</h1>
  <div id="results" class="container">
    <a href="/options.html"><i class="fa fa-bars"></i></a>
    <a href="/swipe.html"><i class="fa fa-arrow-left"></i></a>
<!--
    <div class="col-xs-12 text-center">
      <h2 class="foodies-title">Foodies</h2>
    </div>

    <div class="col-xs-12 text-center">
      <h2 class="results-title">Results</h2>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <div class="well">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item"><a href="/detail.html">Restaurant</a></li>
            <li class="list-group-item"><a href="/detail.html">Steve's</a></li>
            <li class="list-group-item"><a href="/detail.html">Cafe</a></li>
            <li class="list-group-item"><a href="/detail.html">Paul's</a></li>
            <li class="list-group-item"><a href="/detail.html">Fast Food</a></li>
            <li class="list-group-item"><a href="/detail.html">Diner</a></li>
            <li class="list-group-item"><a href="/detail.html">Maria's</a></li>
            <li class="list-group-item"><a href="/detail.html">Carol's</a></li>
            <li class="list-group-item"><a href="/detail.html">Breakfast</a></li>
            <li class="list-group-item"><a href="/detail.html">Bakery</a></li>
            <li class="list-group-item"><a href="/detail.html">Noodles</a></li>
            <li class="list-group-item"><a href="/detail.html">Smoothies</a></li>
            <li class="list-group-item"><a href="/detail.html">Bakery</a></li>
          </ul>
        </div>
      </div>
    </div> -->




  </div>
	</ion-content>
</ion-view>
